node_modules/
build/
#React
/frontend/build/
/Frontend/build/
# /frontend/dist
/frontend/.env
/frontend/release/

#Django
/backend/.venv
/backend/config/db.sqlite3


#Personal files / extra for development
something.txt

